<?xml version='1.0' encoding='utf-8'?>
<widget id="com.appapaa.az" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ben's dictionary</name>
    <description>
        Учи слова по картинкам
    </description>
    <author email="appapaa@gmail.com" href="http://phonegap.com">
        Appapaa
    </author>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name = "cordova-plugin-splashscreen" source = "npm"> 
        <preference name = "SplashScreen" value = "splash" /> 
        <preference name = "AutoHideSplashScreen" value = "true" /> 
        <preference name = "SplashScreenDelay" value ="5000"/> 
        <preference name ="SplashMaintainAspectRatio" value ="true"/> 
        <preference name ="FadeSplashScreen" value ="false"/> 
        <preference name ="ShowSplashScreenSpinner" value ="false"/> 
    </plugin>  
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <splash src="splash.png" />
    <platform name="android">
        <icon src="res/android/drawable-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="res/android/drawable-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/drawable-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
              
        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
     </platform>
</widget>
