@import "_ui.scss";

$left_panel_width: 66px;
$margin: 5vw;
.app {
  @extend .app-ui-abs;
  text-align: center;
  overflow: hidden;
}

/**
* message
*/

.app-message_container {
  @extend .app-ui-abs;
  background: #ffffffa8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-message {
  background-color: $color_black;
  color: #fff;
  max-height: calc(100% - #{2 * $margin});
  width: calc(100% - #{2 * $margin});
}
.app-message-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  height: 60px;
}
.app-message-title {
  font-size: 24px;
  white-space: pre-wrap;
}
.app-message-description {
  margin-top: 10px;
  padding: 20px;
  white-space: pre-wrap;
}

/**
* Menu
*/

.app-menu {
  display: flex;
  flex-direction: column;
}
.app-line-black {
  height: inherit;
  border-left: 2px solid $color_black;
}
.app-menu-help {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $color_black;
  color: #fff;
  top: $margin;
  left: $margin;
  right: $margin;
  bottom: 30vw;
  padding: 2vw;
}
.app-menu-help-num {
  width: 30px;
  line-height: 30px;
  height: 30px;
  margin: 10px auto;
  background-color: #fff;
  color: $color_black;
  border-radius: 15px;
}
.app-menu-btngroup {
  margin: 0 $margin $margin $margin;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}
.app-menu-btn {
  border: 2px solid $color_black;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  height: 10vh;
  font-size: 30px;
  &.-active {
    background-color: $color_black;
    color: #fff;
  }
}

/**
* nav
*/
.app-nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 10px;
  color: $color_gray;
  &.-active {
    background-color: $color_black;
    color: #fff;
  }
}

/**
* Learn
*/

.app-learn {
  display: flex;
  flex-direction: column;
}
.app-learn-panel {
  display: flex;
  border-bottom: 2px solid $color_black;
}
.app-learn-content {
  height: 10px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.app-learn-word {
  border-bottom: 2px solid $color_gray;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 25px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-learn-translation {
  line-height: 1.1;
  border-top: 2px solid $color_gray;
  border-bottom: 2px solid $color_gray;
  padding: 10px 5px;
}
.app-learn-examples {
  text-align: left;
  white-space: pre-wrap;
  font-size: 15px;
  line-height: 1.1;
  padding: 10px 5px;
}
.app-learn-footer {
  height: 40px;
  line-height: 40px;
  border-top: 2px solid $color_gray;
  width: 100%;
  display: flex;
}
.app-learn-btn {
  width: 10px;
  flex: 3;
  &.-active {
    background-color: $color_black;
    color: #fff;
    flex: 2;
  }
}

/**
* Exclude
*/

.app-exclude-panel {
  display: flex;
  border-bottom: 2px solid $color_gray;
}
.app-exclude-content-left {
  @extend .app-ui-abs;
  top: $panel_height;
  bottom: $footer_height;
  width: $left_panel_width;
  padding: 20px 0;
  right: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.app-exclude-content {
  @extend .app-ui-abs;
  top: $panel_height + 10px;
  left: $left_panel_width + 10px;
  bottom: $footer_height + 10px;
  right: 10px;
}
.app-exclude-content__list {
  @extend .app-ui-abs;
  overflow-x: hidden;
  overflow-y: scroll;
}
.app-exclude-content__before {
  @extend .app-ui-abs;
  bottom: auto;
  height: 250px;
  right: $scroll_width;
  pointer-events: none;
  background: linear-gradient(to top, transparent, #ffffffc7);
}
.app-exclude-content__after {
  @extend .app-ui-abs;
  top: auto;
  height: 250px;
  right: $scroll_width;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, #ffffffc7);
}
.app-exclude-btn-char {
  border: 1px solid $color_gray;
  box-sizing: border-box;
  width: 25px;
  min-width: 25px;
  font-size: 25px;
  flex: 1;
  line-height: 28px;
  height: 30px;
  margin: 4px;
  &.-active {
    background-color: $color_black;
    color: #fff;
  }
}
.app-exclude-list-item {
  border: 1px solid $color_gray;
  box-sizing: border-box;
  margin: 10px;
  font-size: 25px;
  &.-active {
    background-color: $color_black;
    color: #fff;
  }
}
.app-exclude-footer {
  border-top: 2px solid $color_gray;
  display: flex;
}

/**
* Test
*/

.app-test {
  display: flex;
  flex-direction: column;
}
.app-cnt {
  color: $color_gray;
}
.app-test-panel {
  display: flex;
  border-bottom: 2px solid $color_gray;
}
.app-test-info {
  height: 70px;
  line-height: 70px;
  border-top: 2px solid $color_gray;
}
.app-test-content {
  height: 10px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.app-test-list {
  width: 100%;
  padding: 5px;
  flex: 10;
  overflow: hidden;
  height: 100px;
}
.app-test-list-left,
.app-test-list-right {
  width: calc(50% - 5px);
  height: 100%;
  float: left;
}
.app-test-word {
  border-top: 2px solid $color_gray;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 25px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-test-footer {
  height: 40px;
  line-height: 40px;
  border-top: 2px solid $color_gray;
  width: 100%;
  display: flex;
}
.app-test-text_btn {
  width: calc(100% - 10px);
  float: left;
  height: calc(25% - 10px);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $color_gray;
  text-align: center;
  float: left;
  box-sizing: border-box;
  &.-active {
    background-color: $color_black;
    color: #fff;
  }
}
.app-test-btn {
  width: 10px;
  flex: 3;
  &.-active {
    background-color: $color_black;
    color: #fff;
  }
}
